<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service Requests!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <script>
        function notif(){div1 = document.getElementById("alert"); 
            div1.setAttribute('class','alert alert-success'); 
            div1.innerHTML="Submitting Form....<button type='button' class='close' aria-label='Close'><span aria-hidden='true'>&times;</span></button>";
            setTimeout(function(){div1.removeAttribute('class');div1.innerHTML=""},2000)
    }
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#"><b>FlaskApp:V1.0</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/api/home">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/api/help">Features</a>
            <a class="nav-item nav-link" href="/dev_register">Join Us</a>
            <a class="nav-item nav-link" href="/devsr">Request Password</a>
            {% if session['name'] %}
                <a class="nav-item nav-link" href="/logout" onclick='return confirm("Do you really want to logout?")'>Logout</a>
            {% else %}
                <a class="nav-item nav-link" href="/login">Login</a>
            {% endif %}
          </div>
        </div>
      </nav>
    {% if err=="db" %}
        <div class="alert alert-danger" role="alert">
            Service Tempoararily unavailable. Check back later!!!
        </div>
    {% endif %}
    {% if err=="unregistered" %}
        <div class="alert alert-danger" role="alert">
            User doesn't exist!!!
        </div>
    {% endif %}
    {% if err=="Successful" %}
        <div class="alert alert-success" role="alert">
            If you are registered, You will get a email shortly! 
            <small>Check spam folder also!!</small>
        </div>
    {% endif %}
      <br><br>
      <div class="row justify-content-center" id="form">
        <div class="col-auto">
            <form action="/devsr/send" method="POST">
                <table class="table table-sm table-borderless">
                    <tr>
                        <td><input type="email" name="email" required placeholder="Your Registered Email ID" style="width: 6cm;"></td>
                    </tr>
                    <tr>
                        <td><input type="number" required name="phone" placeholder="Registred Phone Number" style="width: 6cm;"></td>
                    </tr>
                    <tr>
                        <td align="center"><input type="submit" value="Get Password" onclick="notif()" class="btn btn-outline-success btn-lg"></td>
                    </tr>
                </table>
            </form>
        </div>
      </div>
      <div role="alert "id="alert" style="position: absolute;top: 0;right: 0;width: 10cm;">
    </div>
</body>
</html>