<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
{% if status %}
    {% if status == "Successful" %}
        {% set logo = "/static/icons/check-lg.svg" %}
        {% set status = "Registration Succesful. You can login to our portal now!!" %}
        {% set class = "alert-success" %}
        {% set link = "" %}
    {% elif status == "fail" %}
        {% set status = "Something Went wrong. Registartion Failed!!!" %}
        {% set link = "Try Again" %}
        {% set class = "alert-danger" %}
    {% elif status == "dup_ph" %}
        {% set logo = "/static/icons/x-circle-fill.svg" %}
        {% set status = "Mobile Number Already in use!!!" %}
        {% set link = "Try Again" %}
        {% set class = "alert-danger" %}
    {% elif status == "dup_email" %}
        {% set logo = "/static/icons/x-circle-fill.svg" %}
        {% set status = "Email ID is already in use!!!" %}
        {% set link = "Try Again" %}
        {% set class = "alert-danger" %}
    {% elif status == "unavailable" %}
        {% set status = "Sorry, Service is temporarily unavailable!!!" %}
        {% set link = "Try Again" %}
        {% set class = "alert-danger" %}
    {% else %}
        {% set status = "Unknown Error!!!" %}
        {% set link = "Try Again" %}
        {% set class = "alert-danger" %}
{% endif %}
<div class="alert {{class}}" role="alert" id="alert">
    <img src='{{logo}}' alt=''> {{status}} <a href="/dev_register">{{link}} </a>
    <button type="button" class="close" aria-label="Close" onclick='document.getElementById("alert").remove()'>
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
    {% if details %}
        <script>
            document.getElementById("form").remove();
        </script>
        <table class="table table-sm active table-striped table-hover">
            <thead>
                <th colspan="2">Registered Details Are :</th>
            </thead>
            {% for k,v in details.items()%}
                <tr>
                    <th>{{k}}</th>
                    <td>{{v}}</td>
                </tr>
            {% endfor %}
            <tr align="center">
                <th colspan="2"><button class="btn btn-outline-info"><a href="/dev_register">Submit Another Form!</a></button></th>
            </tr>
        </table>
    {% endif %}
</body>
</html>