<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>App Home</title>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#"><b>FlaskApp:V1.0</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/api/help">Features</a>
            <a class="nav-item nav-link" href="/dev_register">Join Us</a>
            <a class="nav-item nav-link" href="/devsr">Request Password</a>
            {% if session['name'] %}
                <a class="nav-item nav-link" href="/logout" onclick='return confirm("Do you really want to logout?")'>Logout</a>
            {% else %}
                <a class="nav-item nav-link" href="/login">Login</a>
            {% endif %}
          </div>
        </div>
      </nav>
    <div class="alert alert-success" role="alert" id="greet">
        Currently Logged in : <b>{{session['name']}}</b>
        <button type="button" class="close" aria-label="Close" onclick='document.getElementById("greet").remove()'>
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <br>
    <marquee behavior="scroll" direction="left"><p>Flask App V1.0 - Home Page - Development in progress</p></marquee>
    <br>
    <div class="card card-hover" style="width: 18rem;left: 12px;display: inline-block;">
      <div class="card-body">
        {% if session['pr'] %}
          <button class="btn btn-info" style="width: 240px;">
            <b style="font-size: 75px;">{{session['pr']}}</b>
          </button>
        {% endif %}
        <h5 class="card-title">Devloper Registrations</h5>
        <p class="card-text"> View total number of pending developer registrations received under campaign, approve each of them.</p>
        <a href="/approvals" class="btn btn-primary stretched-link">Approvals</a>
      </div>
    </div>
    <div class="card card-hover" style="width: 18rem;left: 35px;display: inline-block;">
      <div class="card-body">
        {% if session['rd'] %}
          <button class="btn btn-info" style="width: 240px;">
            <b style="font-size: 75px;">{{session['rd']}}</b>
          </button>
        {% endif %}
        <h5 class="card-title">Approved Devlopers</h5>
        <p class="card-text"> View total number of approved developers in campaign.<br><br><br></p>
        <a href="/get_devs" class="btn btn-primary stretched-link">Details >></a>
      </div>
    </div>
</body>
</html>